openai
gradio
numpy
llama-index
llama-index-vector-stores-chroma
llama-index-retrievers-bm25
llama-index-llms-openai
llama-index-postprocessor-cohere-rerank
chromadb
ragas
beautifulsoup4
requests
cohere
google-play-scraper
rank-bm25